node_modules/
.meteor
.idea
        ../../.CFUserTextEncoding
        ../../.Trash/
        ../../.anyconnect
        ../../.atom/
        ../../.bash_history
        ../../.bash_profile
        ../../.bash_profile.pysave
        ../../.bash_sessions/
        ../../.cache/
        ../../.cisco/
        ../../.config/
        ../../.cups/
        ../../.dbshell
        ../../.electron/
        ../../.gitconfig
        ../../.gitignore_global
        ../../.hgignore_global
        ../../.idlerc/
        ../../.lesshst
        ../../.local/
        ../../.meteor/
        ../../.meteorsession
        ../../.mongorc.js
        ../../.netrc
        ../../.node_repl_history
        ../../.npm/
        ../../.python_history
        ../../.rnd
        ../../.ssh/
        ../../.udacity-terminal-config/
        ../../.vagrant.d/
        ../../.viminfo
        ../../Applications/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../Google Drive/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../Pictures/
        ../../Programming/
        ../../Public/
        ../../PycharmProjects/
        ../APIs/
        ../Back Up Concentration/
        ../DOMManip/
        ../IntroToNode/
        ../Old Versions/
        ../Report output.htm
        ../TermlistTool/
        ../advancedWebDev/
        ../ajaxPractice/
        ../authentication/
        ../bridge_ext/
        ../chromeExtensions/
        ../completeNode/.idea/
        ../completeNode/nodeApp/
        ../completeNode/weatherApp/weatherApp/
        ../concentrationGame 3/
        ../esjCourse/
        ../helloWorldExtension/
        ../hello_meteor/
        ../jqueryUI/
        ../mvcPractice/
        ../node-web-server/
        ../pluralsightHelper/
        ../practiceExtension/
        ../restful/
        ../ron-swanson-api/
        client/app.js
        ../serverside/
        ../tablePractice/
        ../testExtension/
        ../testExtention
        ../udemy/
        ../udemy2/
        ../../node_modules/
        ../../package-lock.json
        ../../public_html/
        ../../udacity-git-course/