
.title-bar{
  background-color: #e35557;
  color: white;
}

//Create a subtitle element for titlebar for title-bar
//set font size to 1.3rem and font weight to 400
//Apply class to h2 class in the titlebar component.


.title-bar__subtitle{
  font-size: 1.3rem;
  font-weight: 400;

}